.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/Block_Noticias/PUBLIC/SRC/FONTS/NAV/fondo01.png");
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-position: center;
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-repeat: no-repeat;
  justify-content: left; /* Centra el contenido horizontalmente */
  text-align: left;
  display: flex;
}
.home .general {
  font-size: 18px;
  background-color: #3b82f6;
  width: 450px;
  height: 500px;
  padding: 10px 10px;
  left: 100px;
  position: relative;
  transform: translateY(15%);
}
.general .card-main {
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 400px;
  height: 450px;
  top: 50%;
  left: 50%;
  padding: 10px 20px;
  transform: translate(-50%, -50%);
}
.card-main #phras {
  color: rgb(116, 114, 114);
}
.card-main .title {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  border-bottom: 10px solid #3b82f6;
}
.card-main p {
  color: darkgray;
}
.card-main #btnExplore {
  border: none;
  padding: 20px 35px;
  margin: 10px;
  font-size: 18px;
  border-radius: 5px;
  background-color: black;
  color: white;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
}
.card-main #btnExplore:hover {
  background-color: rgb(36, 36, 36);
}
/* Al presionar (hacer clic en el botón) */
.card-main #btnExplore:active {
  transform: scale(0.95); /* Reduce ligeramente el tamaño del botón */
  background-color: rgb(73, 73, 75);
}

/*Este bloque de estilos solo se aplicará si la pantalla tiene un ancho de 768 píxeles o menos.*/
@media screen and (max-width: 768px) {
  .home {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 0; /* Elimina el padding en pantallas pequeñas */
  }
  .home .general {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .general .card-main {
    position: static; /* Elimina el posicionamiento absoluto en pantallas pequeñas */
    transform: none;
    width: 100%;
    height: auto;
  }
  .card-main #phras {
    text-align: center;
  }
  .card-main .title {
    text-align: center;
  }
}
/*los estilos se aplicarán a pantallas (como computadoras, teléfonos, tabletas, etc.).*/
@media screen {
}
@media screen and (orientation: landscape) {
  /* Estilos para pantallas en modo horizontal */
}
