* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5; /*Espaciado entre líneas de texto.*/
  text-rendering: optimizeLegibility;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
.resumen {
  display: flex;
  font-size: 14px;
  max-width: 100%;
  margin: auto;
  padding: 10px 20px;
  scroll-behavior: smooth;
  background-color: rgb(58, 57, 57);
}
.resumen .contac {
  font-family: Arial, Helvetica, sans-serif;
  background-color: brown;
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  background-color: black;
}
.resumen .contac .fas {
  color: white;
  font-size: 10px;
}
/*social-icons*/
.resumen .social-icons {
  background-color: blueviolet;
  padding: 10px 80px;
  position: absolute;
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 20% 100%);
  right: 0px;
}
.social-icons .fab {
  color: white;
  margin: 0;
  gap: 20px;
  padding: 8px 10px;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }
  .bienvenid {
    flex-direction: column;
    display: none;
  }
  .resumen .bienvenid {
    flex-direction: column;
    text-align: center;
  }
  .resumen .contac {
    text-align: center;
  }
  .resumen .social-icons {
    text-align: center;
  }
}

/*HEADER*/
/*HEADER*/
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.header {
  font-size: 18px;
  display: block;
  margin: 10px;
  padding: 18px 22px;
  background-color: rgb(255, 255, 255);
}

.conteiner {
  display: flex; /* Asegura que sea flex para distribuciones */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
  position: relative;
}

.Menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Menus nav {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
}

/*PARA PC O LAPTOPS*/
.nav .desktop {
  display: flex;
  justify-content: space-between; /* Distribuye a los lados */
  align-items: center;
  padding: 10px;
  width: 100%;
}

.desktop .name {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.nav ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.nav ul li a {
  font-weight: bold;
  color: rgb(63, 61, 61);
  text-decoration: none;
  padding: 10px 20px;
}

.nav ul li a:hover {
  color: white;
  background-color: rgb(216, 146, 48);
  border-radius: 5px;
}

/*RESPONSIVO PARA PANTALLAS MÓVILES*/
@media (max-width: 760px) {
  .header {
    text-align: center;
    padding: 10px;
  }

  .conteiner {
    flex-direction: column; /* Cambia a columna en lugar de fila */
    text-align: center;
  }

  .Menus {
    flex-direction: column; /* Para asegurar que las opciones estén en columna */
    text-align: center;
  }

  .desktop {
    flex-direction: column; /* Para organizar el contenido de arriba hacia abajo */
    align-items: center;
  }

  .nav ul {
    flex-direction: column;
    gap: 5px; /* Ajusta el espacio entre elementos */
  }

  .nav ul li a {
    padding: 10px; /* Ajusta el espacio en las opciones del menú */
  }
}
/*PARA MOVILES*/
.nav .movile {
  display: none;
}

.movile .links a {
  color: rgb(59, 57, 57);
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
}
.links a:hover {
  color: black;
  background-color: white;
  font-weight: bold;
}
.nav .movile .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .movile .header .name {
  color: rgb(130, 0, 252);
  font-weight: bold;
}
.nav .movile .collapse {
  display: none;
}
.nav .movile .header .more button {
  border: none;

  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 500px) {
  .nav .movile {
    display: block;
  }

  .nav .desktop {
    display: none;
  }
}
